{% macro render_pagination(pagination) %}
    <nav>
        <ul class=pagination>
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a href="">{{page}}<span class="sr-only">(current)</span></a></li>
                    {% endif %}
                {% else %}
                    <li><span class=ellipsis>…</span></li>
                {% endif %}
            {%- endfor %}
            {% if pagination.has_next %}
                <li><a href="{{ url_for_other_page(pagination.page + 1)}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endmacro %}