<div ng-controller="runController as run">
  <h1>{{run.run.name}}</h1>
  <dl class="dl-horizontal">
    <dt>Samples</dt><dd>{{run.run.samples}}</dd>
    <dt>VCF</dt><dd>{{run.run.vcf_file}}</dd>
    <dt>GATK</dt><dd>{{run.run.gatk}}</dd>
</dl>
  <form name="filterForm">
  <label>Include filtered variants:
    <input type="checkbox" ng-model="run.filterCheckbox.value" ng-true-value=true ng-false-value="" ng-change="run.activateRunVariants(run.run.name, run.filterCheckbox.value)">
  </label>
  </form>
  <div ag-grid="run.gridOptions" class="col-sm-9 ag-fresh" style="height: 750px;"></div>
</div>
