<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">VCF Explorer</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/CuppenResearch/vcf-explorer">Github</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <!-- MENU -->
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a [routerLink]="['VCFs']">VCFs</a></li>
          <li><a [routerLink]="['Samples']">Samples</a></li>
          <li><a [routerLink]="['Variants']">Variants</a></li>
        </ul>
      </div>
      <!-- CONTENT -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <router-outlet></router-outlet>
      </div>
    </div>
   </div>
